__pycache__/app.cpython-312.pyc
__pycache__/distribution.cpython-312.pyc
__pycache__/priorities.cpython-312.pyc
__pycache__/quota_distribution.cpython-312.pyc
__pycache__/quota.cpython-312.pyc
__pycache__/replacement_distribution.cpython-312.pyc
.DS_Store
