__pycache__/app.cpython-312.pyc
__pycache__/distribution.cpython-312.pyc
__pycache__/priorities.cpython-312.pyc
__pycache__/quota_distribution.cpython-312.pyc
__pycache__/quota.cpython-312.pyc
__pycache__/replacement_distribution.cpython-312.pyc
.DS_Store
__pycache__/links_distribution_remote.cpython-312.pyc
__pycache__/merge_priorities.cpython-312.pyc
__pycache__/quota_distribution_remote.cpython-312.pyc
__pycache__/replacement_distribution_remote.cpython-312.pyc
service_account_key.json
__pycache__/amin.cpython-312.pyc
__pycache__/awp_requests.cpython-310.pyc
__pycache__/getParameters.cpython-310.pyc
__pycache__/postRequest.cpython-310.pyc
__pycache__/priorities.cpython-310.pyc
*.pyc