dash
dash-bootstrap-components
pandas
numpy
plotly
xlsxwriter
gunicorn  # For production server
google-auth  # For Google OAuth2 credentials
google-api-python-client  # For using Google API (e.g., Google Sheets, Drive, etc.)
openpyxl